.people-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

@keyframes loading{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
