.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-left: 20px;
}

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

.post-list a {
  text-decoration: none;
  color: #333;
}

.singlePost-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}
.singlePostEdit-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  margin: 20px;
}

h1{
  margin: 20px;
}


.button{
  background-color: #555555;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin: 6px;
}

.button:hover {
  background-color: white; /* Green */
  color: #555555;
  border: 1px solid #555555;

}
input{
  margin:5px;
  border-radius: 2px;
  border: none;
}
/* 
.singlePost-card img{
} */

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
